<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
</head>
<body>
    <main>
        <aside id="section1">
            <nav id="aside1_vertical_nav1">
                <ul id="aside1_unordered_list1">
                    <li class="side_panel_objects"><img width="20px" height="20px" src="icon/icons8-home.svg" /><pre>  Home</pre></li>
                    <li class="side_panel_objects"><img width="20px" height="20px" src="icon/icons8-user-30.png" /><pre>  Users</pre></li>
                    <li class="side_panel_objects"><img width="20px" height="20px" src="icon/icons8-cube-50.png" /><pre>  Nodes</pre></li>
                    <li class="side_panel_objects"><img width="20px" height="20px" src="icon/icons8-server-64.png" /><pre>  Hosts</pre></li>
                    <li class="side_panel_objects"><img width="20px" height="20px" src="icon/icons8-einstellungen.svg" /><pre>  Settings</pre></li>
                </ul>
            </nav>
        </aside>
        <section id="section2">
            <div id="system_traffics">
                Comming Soon!
            </div >
            <div id="users_status">
                Comming Soon!
            </div>
            <div id="general_status">
                Comming Soon!
            </div>
        </section>
    </main>
</body>
</html>